*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.competences {
    background: #BB4430;
}
.title-competences {
    text-align: center;
    text-transform: uppercase;
    font-size:3rem;
    padding-bottom: 60px;
    padding-top: 70px;
    color: #fff;
}
.text-competences {
    font-size: 1.3rem;
    margin-left: 40px;
    margin-right: 40px;
    color: #fff;
}



/*-----------progress-bar--------------*/
.container {
  width: 100%;
  height: 70vh;
  background: #BB4430;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills h2 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 16px;
}
.progress-bar {
  background: #959595;
  width: 500px;
  height: 10px;
  border-radius: 5px;
}
.progress-bar div {
  height: 10px;
  border-radius: 5px;
  width: 0%;
}

.progress-bar div span {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #222;
  float: right;
  margin-top: -15px;
  margin-right: -20px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.html {
  background: #e91e63;
  animation: html 1.5s linear forwards;
}
.css {
  background: #cddc39;
  animation: css 1.5s linear forwards;
}
.javascript {
  background: #00bcd4;
  animation: javascript 1.5s linear forwards;
}
.reactjs {
  background: #ffeb3b;
  animation: reactjs 1.5s linear forwards;
}
.symfony {
  background: #9c27b0;
  animation: symfony 1.5s linear forwards;
 
}

.html span {
  border: 1px solid #e91e63;
}
.css span {
  border: 1px solid #cddc39;
}
.javascript span {
  border: 1px solid #00bcd4;
}
.reactjs span {
  border: 1px solid #ffeb3b;
}
.symfony span {
  border: 1px solid #9c27b0;
}
@keyframes html {
  100% {
    width: 72%;
  }
}

@keyframes css {
  100% {
    width: 78%;
  }
}
@keyframes javascript {
  100% {
    width: 37%;
  }
}

@keyframes reactjs {
  100% {
    width: 41%;
  }
}

@keyframes symfony {
  100% {
    width: 38%;
  }
}


